
h3{
	color:white;
}

a,a:hover{
	text-decoration: none;		
}

#partenaires{
	border-bottom-left-radius: 800px 80px;
	border-bottom-right-radius: 800px 80px;
	background-color: #ec008c;
	height: 50vh;
	width: 100%;
}

#FAQ{
	height: 100vh;
}

#texte-partenaire{
	font-size: 12px;
	color:white;
}

#logo-partenaires{
	width: 40%;
	margin: auto;
}

.couleur-marque{
	background-color: white;
	border:none;
	border-radius:5px;
}

#video{
	height: 55vh;
}

#texte-video{
	padding-top: 10%;
	color:white;
}

#accueil{
	height:85vh;
    background-color: #002A37;
    border-bottom-left-radius:50% 10%;
    border-bottom-right-radius:50% 10%;
}

.boutonAccueil{
    background-color: #ec008c;
    border: none;
}

.vld{
	border-radius: 18px;
	color:white;
	background-color: #ec008c;
	text-decoration: none;
}

 /* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
  }
  
.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
@media screen and (max-width: 992px) {
    #accueil{
        text-align: center;
    }
}

.couleurP{
    background-color: #ec008c;
    color: white;
    border:none;
    border-radius:20px;
}

.textNavBar{
	color: white;
}

.textNavBar:hover{
	color: #ec008c;
}

.textP{
	color: #ec008c;
}

.lienP{
	text-decoration: none;
}

.couleurS{
    background-color: #002A37;
    color: white;
    border:none;
    border-radius:20px;
}

/* Style page d'inscription */
.formuInscrip{
    background:#F2E3ED; 
    border-radius: 7px;
    padding:30px;
    box-shadow:5px 5px 5px black;
}

.champs{
    padding-bottom: 2vh;
}

/* Style page connexion */

.bgConnex{
    background-image: url(../ressources/inscrip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;

}

.formuConnex{
    height:70%;
    background:#F2E3ED; 
    border-radius: 7px;
    padding:30px;
    box-shadow:5px 5px 5px black;
}
@media screen and (max-width: 576px){
	.formuConnex{
		width:100%
		height:10%;
	}

	.formuInscrip{

	}
}