#accueil{
    background-color: #002A37;
    border-bottom-left-radius:50% 10%;
    border-bottom-right-radius:50% 10%;
}

.boutonAccueil{
    background-color: #ec008c;
    border: none;
}

@media screen and (max-width: 992px) {
    #accueil{
        text-align: center;
    }
}

.couleurP{
    background-color: #ec008c;
    color: white;
    border:none;
    border-radius:20px;
}

.couleurS{
    background-color: #002A37;
    color: white;
    border:none;
    border-radius:20px;
}
