a,a:hover{
	text-decoration: none;		
}

#partenaires{
	border-bottom-left-radius: 800px 80px;
	border-bottom-right-radius: 800px 80px;
	background-color: #ec008c;
	height: 50vh;
	width: 100%;
}

#texte-partenaire{
	font-size: 12px;
}

#logo-partenaires{
	width: 40%;
	margin: auto;
}

.couleur-marque{
	background-color: white;
	border:none;
	border-radius:5px;
}

#gras{
	font-weight: bold;
}

#video{
	height: 55vh;
}

#texte-video{
	padding-top: 10%;
}

#accueil{
	height:85vh;
    background-color: #002A37;
    border-bottom-left-radius:50% 10%;
    border-bottom-right-radius:50% 10%;
}

.boutonAccueil{
    background-color: #ec008c;
    border: none;
}

@media screen and (max-width: 992px) {
    #accueil{
        text-align: center;
    }
}

.couleurP{
    background-color: #ec008c;
    color: white;
    border:none;
    border-radius:20px;
}

.textNavBar{
	color: white;
}

.textNavBar:hover{
	color: #ec008c;
}

.textP{
	color: #ec008c;
}

.lienP{
	text-decoration: none;
}

.couleurS{
    background-color: #002A37;
    color: white;
    border:none;
    border-radius:20px;
}

/* Style page d'inscription */

.bgInscrip{
    background-image: url(../ressources/inscrip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;

}

.formuInscrip{
    width: 40%;
    height:70%;
    background:#F2E3ED; 
    border-radius: 7px;
    padding:30px;
    box-shadow:5px 5px 5px black;
}

.champs{
    padding-bottom: 2vh;
}

/* Style page connexion */

.bgConnex{
    background-image: url(../ressources/inscrip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding:0;

}

.formuConnex{
    width: 40%;
    height:70%;
    background:#F2E3ED; 
    border-radius: 7px;
    padding:30px;
    box-shadow:5px 5px 5px black;
}